<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings -->
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/va_skill_dist_system</property>
    <property name="hibernate.connection.username">user12</property>
    <property name="hibernate.connection.password">abc123</property>
    <!-- SQL dialect - generate SQL for a particular database -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <!-- Echo all executed SQL statements -->
    <property name="hibernate.show_sql">true</property>
    <!-- Enable Hibernate's automatic session context management -->
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    <!-- Mapping resource configuration files -->
    <mapping class="com.jobseeker.Person" file="" jar="" package="com.jobseeker" resource="com/jobseeker/Person.hbm.xml"/>
    <mapping class="com.details.Address" file="" jar="" package="com.details" resource="com/details/Address.hbm.xml"/>
    <mapping class="com.education.Section" file="" jar="" package="com.education" resource="com/education/Section.hbm.xml"/>
    <mapping class="com.education.EducInstitute" file="" jar="" package="com.education" resource="com/education/EducInstitute.hbm.xml"/>
    <mapping class="com.education.Takes" file="" jar="" package="com.education" resource="com/education/Takes.hbm.xml"/>
    <mapping class="com.education.Course" file="" jar="" package="com.education" resource="com/education/Course.hbm.xml"/>
    <mapping class="com.education.Certificate" file="" jar="" package="com.education" resource="com/education/Certificate.hbm.xml"/>
    <mapping class="com.skill.KnowledgeSkill" file="" jar="" package="com.skill" resource="com/skill/KnowledgeSkill.hbm.xml"/>
    <mapping class="com.employer.Applies" file="" jar="" package="com.employer" resource="com/employer/Applies.hbm.xml"/>
    <mapping class="com.employer.Position" file="" jar="" package="com.employer" resource="com/employer/Position.hbm.xml"/>
    <mapping class="com.employer.Job" file="" jar="" package="com.employer" resource="com/employer/Job.hbm.xml"/>
    <mapping class="com.employer.Company" file="" jar="" package="com.employer" resource="com/employer/Company.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
