<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>JobMarketReporting</servlet-name>
        <servlet-class>org.me.employerServices.JobMarketReporting</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>JobSeekerManager</servlet-name>
        <servlet-class>org.me.jobSeekerServices.JobSeekerManager</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MilitaryTranslation</servlet-name>
        <servlet-class>org.me.translation.MilitaryTranslation</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EducationServices</servlet-name>
        <servlet-class>org.me.educationServices.EducationServices</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EmployerManager</servlet-name>
        <servlet-class>org.me.employerManager.EmployerManager</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>VAAgencyManager</servlet-name>
        <servlet-class>org.me.vaAgencyManager.VAAgencyManager</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JobMarketReporting</servlet-name>
        <url-pattern>/JobMarketReporting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobSeekerManager</servlet-name>
        <url-pattern>/JobSeekerManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MilitaryTranslation</servlet-name>
        <url-pattern>/MilitaryTranslation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EducationServices</servlet-name>
        <url-pattern>/EducationServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployerManager</servlet-name>
        <url-pattern>/EmployerManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VAAgencyManager</servlet-name>
        <url-pattern>/VAAgencyManager</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
